@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Higher Leaf Marijuana<br />
    3079 156th Ave SE<br />
    Bellevue, WA 98007<br />
    <abbr title="Phone">P:</abbr>
    425.420.6969
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
